<!-- <h1>Tas#index</h1>
<p>Find me in app/views/tas/index.html.erb</p> -->

<div class="jumbotron logo">
  <h1>Hello, world!</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>





<% @tas.each do |ta| %>
<tr>
	<td><%= link_to ta.name, ta_path(ta) %> </td>
</tr>


	<h2></h2>
<% end %>