<!-- <h1>Meetings#new</h1>
<p>Find me in app/views/meetings/new.html.erb</p>
<h1>New Meeting</h1> -->
<div class="col-md-12">
	<div class="well">
		 <h3>Open Availability for new meetings</h3>
 	</div>
</div>

<div class="col-md-12">
	<div class="well">
		<%= render "form" %>
	</div>
</div>