<h1>Students#show</h1>
<p>This is the student page - placeholder for paperclips stuff</p>
<p>Find me in app/views/students/show.html.erb</p>

<%= image_tag @student.image.url(:thumb) %>
<h2><%= @student.name %></h2>

