<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Knock-Knock</h1>
            <hr>
            <p>Find a availabe tutors to provide personalized assistance in your learning process</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Book a tutor</a> <a href="#about" class="btn btn-primary btn-xl page-scroll">Become a tutor</a>
        </div>
    </div>
</header>