// Place all the styles related to the tas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.btn-blue {
  background-color: #4cb0bb;
  border-color: #4cb0bb;
  color: white;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

.btn-blue:hover {
  background-color: #4aa0aa !important;
  border-color: #4aa0aa;
  color: white;
}
